@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Pacifico&display=swap');
@import "tailwindcss";


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.pacifico-light {
  font-family: "Pacifico", cursive;
  font-weight: 300;
  font-style: normal;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}

.bg-image {
    background: linear-gradient(90deg, #8338E3, #E0A9BB);
    height: 100vh;
}